* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #blue;
}

.container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #646cff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #535bf2;
}
